<div class="page-header">
    <h2>Survey Builder - Question</h2>
</div>

<span ng-hide='submittedAnswer'>
<h3>{{question}}</h3>
</span>

<span ng-show='submittedAnswer'>
<h3>Thank you!</h3>
<p><hr></p>
</span>

<span ng-hide='submittedAnswer'>
<form role="form" ng-submit="submitAnswer()" style="margin-top:30px;">
    <div ng-repeat="choice in choices" class="radio">
        <label>
            <input type="radio" ng-model="$parent.answer" value="{{choice.id}}">
            {{choice.text}}
        </label>
    </div>
    <p><hr></p>
    <button type="submit" class="btn btn-primary">Submit Answer</button>
</form>
</span>